DTRMMobilePadSL/DTRMMobilePadSL/Service References/DTRMNS/SimpleBusinessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleBusinessService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5555/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5555/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5555/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISimpleBusinessService_EnsureBSLayer_InputMessage">
    <wsdl:part name="parameters" element="tns:EnsureBSLayer" />
  </wsdl:message>
  <wsdl:message name="ISimpleBusinessService_EnsureBSLayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnsureBSLayerResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleBusinessService_GetCategoryList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryList" />
  </wsdl:message>
  <wsdl:message name="ISimpleBusinessService_GetCategoryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryListResponse" />
  </wsdl:message>
  <wsdl:portType name="ISimpleBusinessService">
    <wsdl:operation name="EnsureBSLayer">
      <wsdl:input wsam:Action="http://tempuri.org/ISimpleBusinessService/EnsureBSLayer" message="tns:ISimpleBusinessService_EnsureBSLayer_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISimpleBusinessService/EnsureBSLayerResponse" message="tns:ISimpleBusinessService_EnsureBSLayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryList">
      <wsdl:input wsam:Action="http://tempuri.org/ISimpleBusinessService/GetCategoryList" message="tns:ISimpleBusinessService_GetCategoryList_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISimpleBusinessService/GetCategoryListResponse" message="tns:ISimpleBusinessService_GetCategoryList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISimpleBusinessService" type="tns:ISimpleBusinessService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnsureBSLayer">
      <soap:operation soapAction="http://tempuri.org/ISimpleBusinessService/EnsureBSLayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryList">
      <soap:operation soapAction="http://tempuri.org/ISimpleBusinessService/GetCategoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleBusinessService">
    <wsdl:port name="BasicHttpBinding_ISimpleBusinessService" binding="tns:BasicHttpBinding_ISimpleBusinessService">
      <soap:address location="http://localhost:5555/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>